<html lang="en">
<head>
    <% include ./partials/head %>`
    <title>News Desk</title>
</head>
<body class="container">
    <main>
        <div class="jumbotron">
            <h1>News Desk. </h1>
            <h2>You are what you read!</h2>
        </div>
    </main>
    <h2><a href="/hn">Hacker News</a></h2>
    <h2><a href="/oped">Opinions and Editorials</a></h2>
    <h2><a href="/settings">Settings</a></h2>
</body>
</html>