<html lang="en">
<head>
    <%- include ('partials/head') %>
    <title>Settings</title>
</head>
<body class="container">
    <main>
        <div class="jumbotron">
            <h1>Settings </h1>
            <p class="lead">Configure and Fix!</p>
        </div>
        <div id="errorMessage" style="display:none" class="alert alert-danger fade in">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Error!</strong> A problem has been occurred while submitting your data.
        </div>
        <ul>
            <li>
                <input type="button" value="Purge HN" id="purgehn" class="btn btn-primary" />&nbsp;
            </li>
            <li>
                <input type="button" value="Purge OpEd" id="purgeoped" class="btn btn-primary"/>&nbsp;
            </li>
            <li>
                <input type="button" value="Add OpEd" id="addoped" class="btn btn-primary"/>&nbsp;
            </li>
            <li>
                <input type="button" value="Refresh HN" id="refreshhn" class="btn btn-primary"/>&nbsp;
            </li>
            <li>
                <input type="button" value="Refresh OpEd" id="refreshoped" class="btn btn-primary"/>&nbsp;
            </li>
        </ul>
        <div id="categoryContainer" style="display:none" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add OpEd</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="categoryCrossButton"> 
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <textarea id="opedlink" style="display:block;width:100%;padding: 2px" placeholder="add link"></textarea>
                        <textarea id="opedtitle" style="display:block;width:100%;padding: 2px" placeholder="add title"></textarea>
                        <textarea id="opeddescription" style="display:block;width:100%;padding: 2px" placeholder="add description"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="categoryCloseButton">Close</button>
                        <button type="button" class="btn btn-primary" id="addCategoryButton">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="/scripts/settings.js"></script>
</body>
</html>